BIM/JavaScript/XML/advancenote.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- A simple element with a decimal type -->
  <xs:element name="priority" type="xs:decimal"/>

  <!-- A simple element with a boolean type -->
  <xs:element name="urgent" type="xs:boolean"/>

  <!-- Definition of the main "note" element -->
  <xs:element name="note">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="to" type="xs:string"/>
        <xs:element name="from" type="xs:string"/>
        <xs:element name="heading" type="xs:string"/>
        <xs:element name="body" type="xs:string"/>
        <xs:element name="date" type="xs:date"/>
        <xs:element name="priority" type="xs:decimal"/>
        <xs:element name="urgent" type="xs:boolean"/>
      </xs:sequence>
      <!-- An attribute with an enumerated type -->
      <xs:attribute name="id" type="xs:positiveInteger" use="required"/>
    </xs:complexType>
  </xs:element>
</xs:schema>